@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'JetBrains Mono', sans-serif;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
input {
  color: rgb(63, 63, 70);
}
